# Ambiente virtual
.venv/

# Variáveis de ambiente — NUNCA subir ao Git
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
htmlcov/
.coverage

# IDEs
.vscode/
.idea/

# uv
.python-version

# macOS
.DS_Store

# Logs
*.log